
<h1> This is the page for <%=  @part.brand + " " +  @part.name %> </h1>

<ul>

<% @part.machines.each do |mach| %>

    <li>
        <a href="/machines/<%= mach.id %>"> <%= mach.brand  + " - " + mach.name %>  </a>
    </li>

<% end%>

</ul>

<form action="/parts/<%= @part.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="DELETE">
</form>

<a href="/parts"> Go Back to Parts </a>