
<h1> This is the page for <%=  @mach.brand + " " +  @mach.name %> </h1>

<ul>

<% @mach.parts.each do |part| %>

    <li>
        <a href="/parts/<%= part.id %>"> <%= part.brand  + " - " + part.name + " - Part no. " + part.reference_number.to_s %>  </a>
    </li>

<% end%>

</ul>

<form action="/machines/<%= @mach.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="DELETE">
</form>

<a href="/machines"> Go Back to Machines </a>